header {
    background-color: rgb(255, 255, 100);
    border-bottom: 0.125rem dashed black;
    padding: 2rem 0.5rem;
    text-align: center;
}

h1 {
    color: #E00;
    font-family: "Nunito", sans-serif;
    font-size: 2rem;
    text-shadow: 0.125rem 0.125rem 0.125rem #000;
}

header p {
    font-size: 1.2rem;
    margin: 1rem 0 0;
}

@media (min-width: 576px) {
    h1 {
        font-size: 2.5rem;
    }

    header p {
        margin: 1rem auto 0;
        max-width: 28rem;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    header p {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    header {
        padding: 3rem 1rem 3.5rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    header p {
        font-size: 1.4rem;
        margin: 1rem 0 0;
    }
}

@media (min-width: 1200px) {
    header p {
        font-size: 1.5rem;
    }
}